body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  background-color: #440360f1; 
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  font-style: italic; 
  text-shadow:   
    5px 5px 2px rgb(1, 1, 1),
    0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0); 
}
.header-icon {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
}
.header-icon img {
  width: 80px;
  height: auto;
  padding-left: 20px;
  padding-right: 350px;
}
.student-name {
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute; 
    right: 100px; 
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.psychologist {
  margin-bottom: 20px;
  background: #fff;
  padding: 10px;
  margin: 10px 0;
  font-style: italic;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.psychologist h2 {
  margin-top: 0;
  margin-bottom: 1;
  font-size: 30px;
  text-align: center;
}
.psychologist img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.image-placeholder {
  display: flex;
  width: 100%;
  height: auto;
  line-height: 200px;
  margin-bottom: 10px;
}
.image-placeholder img {
  width: 50%;
  height: auto;
}
.quote {
  display: flex;
  font-family: 'Segoe Script', cursive;
  font-size: 40px;
  line-height: 1;
  align-items: center;
  margin-left: 15px;
  text-align: center;

}
.site-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.main-content {
  flex: 3;
  margin: 10px;
  padding: 20px;
  background: #fff;
}
.sidebar {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.sidebar h2 {
  font-size: 22px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin-bottom: 15px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  border-left: 4px solid #5a9;
}
@media (max-width: 768px) {
  .site-container {
    flex-direction: column;
  }
}